@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Montserrat/montserrat-regular.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-regular.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Montserrat/montserrat-bold.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-bold.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-bold.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Quicksand/quicksand-regular.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-regular.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Quicksand/quicksand-bold.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-bold.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-bold.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/OpenSans/open-sans-regular.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-regular.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-regular.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/OpenSans/open-sans-bold.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-bold.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-bold.ttf) format("truetype"); }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.5);
  background: white; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

.pie-chart {
  display: flex; }
  .pie-chart__svg-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black; }
  .pie-chart__svg {
    width: 100%;
    height: 100%;
    position: absolute; }
  .pie-chart__outer-path {
    cursor: pointer; }
  .pie-chart__inner-path {
    fill: white; }
  .pie-chart__central-circle {
    fill: white; }
  .pie-chart__current-segment {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
    .pie-chart__current-segment-0 {
      color: #bc9cff; }
    .pie-chart__current-segment-1 {
      color: #6fcf97; }
    .pie-chart__current-segment-2 {
      color: #ffba9c; }
    .pie-chart__current-segment-3 {
      color: #adb5bd; }
  .pie-chart__chart-list {
    margin-left: 20px; }
  .pie-chart__list-item {
    cursor: pointer;
    display: flex;
    align-items: center; }
  .pie-chart__item-marker {
    width: 10px;
    height: 10px;
    border-radius: 50%; }
    .pie-chart__item-marker-0 {
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
    .pie-chart__item-marker-1 {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
    .pie-chart__item-marker-2 {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%); }
    .pie-chart__item-marker-3 {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%); }

.test-button {
  width: 100px;
  height: 50px;
  background: blue;
  border: 1px solid black; }

.exapmle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

