<body>
  <svg class="test-svg">
    <defs>
      <linearGradient id="red-blue" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="red" />
        <stop offset="100%" stop-color="blue" />
      </linearGradient>
      <linearGradient id="red-blue2" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="rgb(255, 227, 156)" />
        <stop offset="100%" stop-color="rgb(255, 186, 156)" />
      </linearGradient>
    </defs>

    <g transform="translate(150,150)">
      <!-- M move to (x, y) -> draw line to (x, y) -> A radius start(x, y) -> ? ? ? -> end (x, y) -->
      <path class="test1" d="M0 0 0 -150 A150 150 90 0 1 150 0Z" />
      <!-- <path class="test2" d="M0 0 0 -130 A150 150 90 0 1 130 0Z" fill="white" /> -->
    </g>
  </svg>

  <button class="test-button">TEST</button>
</body>