extends ../base/base

block title
  title Навигация

block body
  div(class=["ui-kit"])
    p(class="ui-kit__title") Навигация
    ul(class=["ui-kit__refs-list"])
      li(class=["ui-kit__item"])
        a(class=["ui-kit__ref"] href="./example.html")
          p(class="ui-kit__ref-text") Пример